<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="AddressBookConnectionString" connectionString="data source=VIVEK\SQLExpress;initial catalog=AddressBook;Integrated Security=True"/>
  </connectionStrings>
</configuration>